.main {
    margin: auto;
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-chat {
    resize: none;
    border: 1px solid black;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    height: 70vh;
}

.chat-message-content {
    display: inline-block;
    padding: 0;
    margin: 0;
}